.content-signup {
  border: 2px solid #243a5e;
  border-radius: 10px;
  width: 350px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group-signup {
  display: flex;
  width: 330px;
  justify-content: space-around;
  margin: 8px 0px;
}
.form-group-signup input {
  width: 280px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
}
.form-group-signup input:focus {
  border: 2px solid #243a5e;
}
.form-group-signup label {
  margin: 5px;
}
.button-signup {
  width: 95%;
  line-height: 3em;
  border-radius: 5px;
  margin: 10px 0px;
  background-color: #273746;
  color: #fff;
  border: none;
}
.button-signup:hover {
  transition: 0.6s ease;
  opacity: 0.9;
}
